<a href="https://colab.research.google.com/github/vishnud15/ai_proj/blob/main/Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score

In [3]:
df = pd.read_csv('heart_disease_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df['target'].value_counts().plot(kind = 'bar', color = ['salmon', 'lightblue']);

In [ ]:
df.info()

In [ ]:
df['sex'].value_counts()

In [ ]:
pd.crosstab(df.target, df.sex).plot(kind = 'bar',
                                   figsize = (10, 6),
                                   color = ['salmon', 'lightblue'])
plt.title("Heart Disease Frequency for Sex")
plt.xlabel("0 = No Disease   1 = Disease")
plt.ylabel("Amount")
plt.xticks(rotation = 0)

NameError: ignored

Age vs Max Heart Rate for Heart Disease

In [ ]:
plt.figure(figsize = (10, 6))

plt.scatter(df.age[df.target == 1],
           df.thalach[df.target == 1],
           c = 'salmon')
plt.scatter(df.age[df.target == 0],
           df.thalach[df.target == 0],
           c = 'lightblue');
plt.title("Heart Disease in function of Age and Max Heart Rate")
plt.xlabel("Age")
plt.ylabel("Max Heart Rate")
plt.legend(["Disease", "No Disease"])

In [ ]:
#Check the distributions
df.age.plot.hist();

In [ ]:
pd.crosstab(df.cp, df.target).plot(kind = "bar",
                                  figsize = (10, 6),
                                  color = ['salmon', 'lightblue'])
plt.title("Heart Disease Frequency per Chest Pain Type");

Correlation Matrix

In [ ]:
corr_matrix = df.corr()
fig, ax = plt.subplots(figsize = (15, 15))
ax = sns.heatmap(corr_matrix,
                annot = True,
                )

In [ ]:
X = df.drop("target", axis = 1)
y = df["target"]

In [ ]:
X

In [ ]:
y

In [ ]:
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    test_size = 0.2)

In [ ]:
models = {
    "Logistic Regression" : LogisticRegression(),
    "Random Forest Classifier" : RandomForestClassifier(),
}

def test(models, X_train, X_test, y_train, y_test):
    np.random.seed(42)
    model_scores = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        model_scores[name] = model.score(X_test, y_test)
    return model_scores

In [ ]:
test(models, X_train, X_test, y_train, y_test)